[Unit]
Description=Astrophi
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/astrophi /home/astro 80
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target